<div class="col-md-6 recipe-card">
  <div class="card mb-6 shadow-sm">
     <img src="<%= recipe.photo.image_url %>" class="recipe-image" alt="Recipe Image"/>
    <div class="card-body">
      <p class="card-text"><%= recipe.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to "View Recipe", recipe_path(recipe.id), type:"button", class: "btn btn-primary", role: "navigation" %>
      </div>
    </div>
  </div>
</div>